# Run a query on impala and save results as pandas dataframe

## Make a connection object

In [1]:
# import needed modules
from impala.util import as_pandas
import pandas as pd
from impala.dbapi import connect

# disable extraneous pandas warning
pd.options.mode.chained_assignment = None

## Enter your impala host name

In [2]:
impala_host = 'glados19'

## Enter your query below

In [6]:
query = '''

SELECT * 
FROM training.all_vars
LIMIT 5
'''

## Create a function to run the query

In [4]:
def run_query(query_name):
    """
    opens odbc connection and runs query
     saves results as table, closes connection
    :param query_name: name of query statement to run
    :param out_db: name of output database
    :param out_name: name of output table name
    :return: table of results saved on impala in specified output dir
    """
    # create connection object
    conn=connect(host=impala_host, port=21050, timeout=120)
    cur = conn.cursor()
    # run query
    print 'Running the query on impala....'
    cur.execute(query_name)
    # download results as pandas dataframe
    results_df = as_pandas(cur)
    if len(results_df) > 0:
        print 'Query finished. Closing connection.'
        return results_df
    else:
        print 'No results found.'
    cur.close()
    conn.close()

## Run the Query, Downloading Results as a Pandas dataframe

In [7]:
# run query to save result as pandas data frame
results_df = run_query(query)

Running the query on impala....
Query finished. Closing connection.

In [8]:
print results_df.head(5)

  chrom       pos ref alt        rs_id clin_sig clin_dbn  kav_freq  \
0    21  31779418   T   A         None     None     None  0.000038
1     3  10226613   G   A  rs553480090     None     None  0.001959
2     8  42830355   G   A  rs557527098     None     None  0.000038
3    19  35786392   T   C  rs532456089     None     None  0.000006
4     8  97083996   T   C         None     None     None  0.000307

                                          kav_source dbsnp_build var_type
0                                              UK10K        None     None
1  ADNI|ISB_founders|Inova_CGI_founders|Inova_Ill...         142      SNV
2                                         phase3-KHV         142      SNV
3                                         phase3-PEL         142      SNV
4          GS000016372|Inova_Illumina_founders|UK10K        None     None

And now you have a pandas dataframe for downstream analysis!